apiVersion: v1
kind: Secret
metadata:
  name: envik-secrets
  namespace: envik
type: Opaque
data:
  DB_CONNECTION_STRING: [BASE64_ENCODED_CONNECTION_STRING]
  JWT_SECRET_KEY: [BASE64_ENCODED_SECRET_KEY]